html{
  width: 900px;
}
header{
  position: relative;
}
.green{
  background-color: green;
  color: white;
  text-align: center;
  height: 30px;
}

.blue{
  background-color: blue;
  color: white;
text-align: center;
height: 60px;
}

.head_list{
  list-style: none;
}

.head_list li{
  display: block;
  height: auto;
  width: 120px;
  float:left;
  margin-left: 10px;
  text-align: center;
}

.main_photo{
text-align: center;
position: relative;
height: 200px;

top:40px;
}
.main_photo_1{
  clear: both;
  height: 100px;
  width: 150px;
  background-color: #fcba03;
  color:white;
  position: absolute;
  top:50px;
  left:250px;
}
.main_photo_2{
  clear: both;
  height: 100px;
  width: 150px;
  background-color: #63fffc;
  color:white;
    position: absolute;
  top:50px;
  left:450px;
}

main{
  display: inline-block;
  width: 500px;
  height: 500px;
  background-color: #63fffc;
  float:left;
  position: relative;

}

.div_photo{
  clear: both;
  width: 400px;
  height: 200px;
  background-color: #c7c6af;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

}

aside{
  display: inline-block;
  width: 300px;
  background-color: #f2b6bf;
  height: 500px;
  float:left;

}
footer{
  clear: both;
  width: 800px;
  height: 200px;
  background-color: #fcfacf;

}

